<div>
    <h1>Lista de Productos</h1>
    {{#if products.length}}
        <ul id="product-list">
    {{#each products}}
        <li>
            <strong>{{this.title}}</strong> - ${{this.price}}
        </li>
    {{/each}}
        </ul>

    {{else}}
        <p>No hay productos disponibles.</p>
    {{/if}}
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>