<div>
    <h1>Lista de Productos</h1>
    {{#if products.length}}
        <ul id="product-list">
    {{#each products}}
        <li>
            <strong>{{this.title}}</strong> - {{this.description}} - ${{this.price}}
        </li>
    {{/each}}
        </ul>

    {{else}}
        <p>No hay productos disponibles.</p>
    {{/if}}
</div>
